{% extends 'base.html.twig' %}

{% block title %}Mon Profil - TECH NOIR{% endblock %}

{% block body %}
<div class="form-container">
    <h2>Bienvenue, {{ user.prenom }} {{ user.nom }}</h2>
    <p><strong>Email:</strong> {{ user.email }}</p>

    <a href="{{ path('app_logout') }}" class="btn-purple">Déconnexion</a>
</div>
{% endblock %}
