@import './variables';
@import './nav';
@import './footer';
@import './home/video';
@import 'responsive';

html, body {
	min-height: 100%;
	margin: 0;
	padding: 0;
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

main {
	flex: 1;
}

