@import './variables';
@import './nav';
@import './footer';
@import './forms';

html, body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between; // <- это главный трюк
}

main {
	flex: 1;
}