$color-primary: #091D9E;
$color-secondary: #750DC5;
$color-light: #F6F6F6;
$color-gray: #C1C1C1;
$color-dark: #0C0C0C;
$color-accent: #EBBA1A;
$color-link: #260DC1;
$color-purple: #59006F;

$font-main: 'mulilight', sans-serif;
$radius: 16px;

$tablet: 1023px;
$mobile: 767px;