{# {% block produit_filtre_valeur_widget %} #}
{# {% endblock %} #}

{# templates/admin/fields/_produit_filtre_valeur_widget.html.twig #}
<div id="ajax-filtres-container" data-widget="produit-filtre-container"></div>
